**/data/raw/
**/data/processed/
**/data/external/
**/data/source_extracts/
**/data/modeled/

# ignore all databases + powerbi + sql
environment/*
!environment/.gitkeep
!environment/README.md

# large files
*.zip
**/outputs/large/
*.db
*.sqlite
*.sqlite3
*.pbitmp
.venv/
.env
__pycache__/
.ipynb_checkpoints/
.DS_Store

# excel files to ignore
**/data/external/*.xlsx
*.xlsx

# personal notes
notes/**
docs/licenses_by_type.pdf

# existing projects
existing-projects.md
job-description.md
interview-questions.md
resume.md
cover-letter.md
reaching-out.md
timeline.md

# old projects
archive/**
